<div class="profile-container">
  <div class="personal-info">
    <h1>Personal Information</h1>
    <div class="info">
      <div class="key">First name: </div>
      <div class="value">
        <span *ngIf="user?.firstname; else none">{{user.firstname}}</span> 
      </div>
    </div>
    <div class="info">
      <div class="key">Last name: </div>
      <div class="value">
        <span *ngIf="user?.lastname; else none">{{user.lastname}}</span> 
      </div>
    </div>
    <div class="info">
      <div class="key">Email: </div>
      <div class="value">
        <span *ngIf="user?.email; else none">{{user.email}}</span> 
      </div>
    </div>
    <div class="info">
      <div class="key">Date of birth: </div>
      <div class="value">
        <span *ngIf="user?.birthDate; else none">{{user.birthDate | date: 'MMMM dd, yyyy'}}</span> 
      </div>
    </div>
    <div class="info">
      <div class="key">Role: </div>
      <div class="value">
        <span *ngIf="user?.userRole; else none">{{user.userRole}}</span> 
      </div>
    </div>
    <div class="info">
        <div class="key">Password updated on: </div>
        <div class="value">
          <span *ngIf="user?.passwordUpdatedAt; else none">{{user.passwordUpdatedAt | date: 'MMMM dd, yyyy'}}</span> 
        </div>
      </div>
    <div class="update-info">
      <mat-icon (click)="openUpdatePannel()">open_in_new</mat-icon> 
    </div>
  </div>
  <div class="update-personal-info">
    <h1>Chanage your password </h1> 
    <form #passwordForm="ngForm" (ngSubmit)="changePassword()" [formGroup]="updatePasswordForm" name="updatePasswordForm" novalidate>
      <div class="update-personal-info-container error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <div class="info-container">
        <mat-form-field>
          <input 
          type="password"
          name="currentPassword"
          matInput 
          formControlName="currentPassword"
          placeholder="Current password">
          <mat-error *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
            <span  *ngIf="currentPassword.errors.required">Current password is required</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='currentPassword' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="info-container">
        <mat-form-field>
          <input 
          type="password"
          name="newPassword"
          matInput 
          formControlName="newPassword"
          placeholder="New password" >
          <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <span  *ngIf="newPassword.errors.required">New password is required</span>
            <span  *ngIf="newPassword.errors.minlength || newPassword?.errors.maxlength">Expects between 8 and 20 characters</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='newPassword' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="info-container">
        <mat-form-field>
          <input 
          type="password"
          name="confirmPassword"
          matInput 
          confirmPasswordsMatchValidator="newPassword"
          placeholder="Confirm your password" 
          formControlName="confirmPassword">
          <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <span  *ngIf="confirmPassword.errors.required">Confirm is required</span>
            <span  *ngIf="confirmPassword.errors?.mismatch && !confirmPassword.errors.required">Passwords don't match</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='confirmPassword' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <button 
      mat-raised-button [disabled]='sendingRequest? true: false' >
      <span *ngIf="!sendingRequest">Change Password</span>
      <div class="loading-container" *ngIf="sendingRequest">
        <div>Updating Password . . .</div> <div class="loader"></div>
      </div>
    </button>
  </form>   
</div>

<div class="update-info-pannel" #updatePannel>
  <div class="panel-wrapper">
    <div class="pannel">
      <div (click)="closePannel()" class="close"><mat-icon>close</mat-icon></div>
      <h3>Update personal information</h3>
      <form (ngSubmit)="updatePersonalInfo()" [formGroup]="updateProfileForm" name="updateProfileForm" novalidate>
        <div class="update-info-pannel-container error">
          <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
        <div class="update-info-container">
          <mat-form-field>
            <input 
            type="text"
            name="firstname"
            matInput 
            formControlName="firstname"
            placeholder="First name">
            <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
              <span  *ngIf="firstname.errors.required">First name is required</span>
              <span  *ngIf="firstname.errors.minlength || firstname?.errors.maxlength">Expects between 2 and 20 characters</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='firstname' ">{{error.msg}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="update-info-container">
          <mat-form-field>
            <input 
            type="text"
            name="lastname"
            matInput 
            placeholder="Last name"
            formControlName="lastname" >
            <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              <span  *ngIf="lastname.errors.required">Last name is required</span>
              <span  *ngIf="lastname.errors.minlength || lastname?.errors.maxlength">Expects between 2 and 20 characters</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='lastname' ">{{error.msg}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="update-info-container">
          <mat-form-field>
            <input matInput 
            name="birthdate"
            [matDatepicker]="picker" 
            placeholder="Choose a date"
            formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)">
              <span  *ngIf="birthdate.errors.required">Valid birth date required</span>
              <span  *ngIf="birthdate.invalid && !birthdate.errors.required">Your age must be between 15 and 100</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='birthDate' && error.msg != 'Your age must be between 15 and 100.' ">{{error.msg}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <button 
        mat-flat-button [disabled]='sendingRequest? true: false' >
        <span *ngIf="!sendingRequest">Update Info</span>
        <div class="loading-container" *ngIf="sendingRequest">
          <div>Updating Info . . .</div> <div class="loader"></div>
        </div>
      </button>
    </form>
  </div>
</div>
</div>
</div>

<ng-template #none>
  <span>---</span>
</ng-template>

<app-footer></app-footer>