.profile-container{
    width: 100%;
    padding: 10px 20px;
    z-index: 0;
    position: relative;
}

.personal-info, .update-personal-info{
    width: 100%;
}
.personal-info{
    padding-bottom: 20px;
}
h1,h3{
    text-align: center;
    font-size: 1em;
    margin: 1em 0px 2em 0px;
}
h1{
    font-weight: bolder;
}
.info{
    display: flex;
    margin-bottom: 20px;
}
.info .key{
    width: 180px;
    font-weight: bold;
}
.info .value{
    flex:1;
}
.update-info{
    text-align: right;
}
.update-info mat-icon{
    color: #3f51b5;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.update-info mat-icon:hover{
    color: #e707e7;
    transition: 1s ease-in-out;
}
form{
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 1em;

}
form mat-form-field{
    width: 100%;
}
form button{
    float: right;
    margin-bottom: 20px;
}
.update-info-pannel{
    width: 100%;
    height: 110%;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 0;
    display:none;
    top:-10px;
    left:0px;
    right: 0px;
    background-color: rgba(0,0,0,.85);
}
.update-info-pannel .panel-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.update-info-pannel .close{
    margin-bottom: 1em;
    cursor: pointer;
}
.update-info-pannel .pannel{
    width: 90%;
    position: absolute;
    background-color: #e9e6e6;
    left: 0px;
    right: 0px;
    margin: auto;
    animation: topToBottom 500ms linear forwards;
}
.update-info-pannel .pannel mat-form-field{
    margin-bottom: 1.5em;
}

.update-info-pannel .pannel h3{
    font-size: 1.1em;
}

@-webkit-keyframes topToBottom{
    0%{
        top: -101%;
       
    }
    100%{
        top: 70px;
        max-height: 450px;
    }
}

@-moz-keyframes topToBottom{
    0%{
        top: -101%;
       
    }
    100%{
        top: 70px;
        max-height: 450px;
    }
}

@-o-keyframes topToBottom{
    0%{
        top: -101%;
       
    }
    100%{
        top: 70px;
        max-height: 450px;
    }
}

@keyframes topToBottom{
    0%{
        top: -101%;
       
    }
    100%{
        top: 70px;
        max-height: 450px;
    }
}

.error{
    position: relative;
    padding:5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 2em;
}
.error-message{
    position: absolute;
    left: 0px;
    right: 0px;
    color: red;
    margin: auto;
}

.loading-container{
    margin: auto;
    text-align: center;
    line-height:40px;
}
.loading-container div:first-child{
    width:70%;
    float: left;
    margin-right: 20px;
}

.loader {
    border:3px solid #000000; /* Light grey */
    border-top:13px solid #ffffff; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 400ms linear infinite;
}
.mat-raised-button[disabled],
.mat-raised-button:disabled,
.mat-flat-button[disabled],
.mat-flat-button:disabled{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (min-width:500px){
     .personal-info,.update-personal-info{
         width: 500px;
         margin: auto;
     }
     form{
        width: 400px;
        margin: auto;
    }
    .update-info-pannel .pannel{
        width: 400px;
    }
     
}

// @media only screen and (min-width:768px){
//     .update-info-pannel{
//         width: 90%;
//     }
// }