.reset-password-container{
    width: 100%;
    padding: 0px 20px;
    margin-top:2em;
}
.reset-container{
    margin: 1em 0px;
    padding-bottom: 1em;
}
.reset-password-container button{
    float: right;
}
mat-form-field{
    width: 100%;
}
h1{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
}

.loading-container{
    width: 150px;
    margin: auto;
    text-align: center;
    line-height:40px;
}
.loading-container div:first-child{
    width:70%;
    float: left;
}
button:disabled,
button[disabled]{
    background-color: #3f51b5;
    padding: 5px 2px;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.loader {
    border:3px solid #f3f3f3; /* Light grey */
    border-top:3px solid #e408b4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 500ms linear infinite;
}
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
app-footer{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

@media only screen and (min-width:500px){
    .reset-password-container{
        width:350px;
        margin: auto;
        margin-top:5em;
    }
}