<div class="reset-password-container">
  <h1>Chanage your password </h1> 
  <form #passwordForm="ngForm" (ngSubmit)="changePassword()" [formGroup]="updatePasswordForm" name="updatePasswordForm" novalidate>
    <div class="reset-container">
      <mat-form-field>
        <input 
        type="password"
        name="newPassword"
        matInput 
        formControlName="newPassword"
        placeholder="New password" >
        <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
          <span  *ngIf="newPassword.errors.required">New password is required</span>
          <span  *ngIf="newPassword.errors.minlength || newPassword?.errors.maxlength">Expects between 8 and 20 characters</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="reset-container">
        <mat-form-field>
            <input 
            type="password"
            name="confirmPassword"
            matInput 
            confirmPasswordsMatchValidator="newPassword"
            placeholder="Confirm your password" 
            formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span  *ngIf="confirmPassword.errors.required">Confirm is required</span>
                <span  *ngIf="confirmPassword.errors?.mismatch && !confirmPassword.errors.required">Passwords don't match</span>
            </mat-error>
        </mat-form-field>
    </div>
    <button 
    [disabled]="updatePasswordForm.invalid"
    mat-raised-button 
    color="primary" disabled='successfullRequest? true : false'>
      <span *ngIf="!successfullRequest">Send</span>
        <div class="loading-container" *ngIf="successfullRequest">
            <div>{{requestStatus}}</div><div class="loader"></div>
          </div>
    </button>
  </form>   
</div>
<app-footer></app-footer>