<div class="host">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="bubble-container">
        <ul class="bubbles">
          <li></li><li></li><li></li>
          <li></li><li></li><li></li>
          <li></li><li></li><li></li>
          <li></li><li></li><li></li>
        </ul>
      </div>
      <div class="container"  *ngIf="!dataRetrieved">
        <div class="info">
          <h1>The best west African cuisine in Harlem</h1>
          <h3><q>Bien manger, le debut du bonheur</q></h3>
          <a 
          [routerLink]="['/africanamericanbestfood/menu']">
          View Menu
        </a>
      </div>
      <div class="info desktop">
        <img src="../../../assets/images/food.png" alt="">
      </div>
    </div>
    <div class="container"  *ngIf="dataRetrieved">
      <div class="info">
        <h1>{{homePageData?.header}}</h1>
        <h3><q>{{homePageData?.quote}}</q></h3>
        <a 
        [routerLink]="['/africanamericanbestfood/menu']">
        View Menu
      </a>
    </div>
    <div class="info desktop">
      <img [src]="homePageData?.image | base64Converter" alt={{homePageData?.name}}>
    </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>