body {background-color:black;z-index:1;overflow-y:hidden;overflow-x:hidden;}
.host{
    position: relative;
    z-index: 0;
}
.container-fluid{
    margin-top: 1em;
    position: relative;
    
}
  .bubble-container{
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: red;
    overflow: hidden;
    z-index: 0;
}

.jumbotron{
    background-color: #14bc25;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    border-radius: 0px;
    font-size: 1em;
}
.jumbotron .container{
    display: flex;
}
.desktop{
    display: none;
}
.desktop{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.desktop img{
    margin-top: 1.5em;
    width: 200px;
    height: 100px;
}
.info{
    width: 100%;
    padding: 1em;
    position: relative;
}
h1{
    font-size: 1em;
    font-weight: bolder;
    margin:2em 0em 1em 0em;
}
h3{
    font-size: 1em;
    font-weight: bolder;
    margin-bottom:4em;
}
a{
    display: block;
    position: absolute;
    width: 150px;
    background-color: rgb(236, 46, 12);
    color: #ffffff;
    padding:5px;
    cursor: pointer;
    left: 0px;
    right: 0px;
    margin:3em auto 0px auto;
    z-index: 10;
    bottom:20px;
    text-decoration: none;
    outline: none;
    border:2px 2px 2px solid rgb(185, 35, 8);
}
a:hover{
    background-color: rgb(245, 88, 60);
    transition: 500ms ease-in-out;
}
a:active{
    border: none;
    transition: 500ms ease-in-out;
}
app-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
@media only screen and (min-width:768px){
    .info{
        width: 50%;
    }
    .desktop{
        display: block;
    }
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}
.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.bubbles li:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration:8s;
    animation-duration: 8s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

