<div class="container">
  <loading-screen *ngIf="isLoading"></loading-screen>
  <div class="parent-layer" *ngIf="!isLoading">
    <div class="menu">
      
      <div class="card">
        <div class="card-header">
          <span class="menu-name">
            {{menu.category }}   {{menu.name}}
          </span>
        </div>
        <div class="main">
          <div class="card-body">
            <div class="image">
              <img [src]="menu? (menu.image | base64Converter ) : '' " [alt]="menu? menu.name : ''">
            </div>
            <div class="description">
              <div class="content">
                {{menu.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="details">
            <div class="menu-price left">
              Price: {{menu.price}}
            </div>
          </div>
        </div>
      </div>
      <div class="action">
        <div class="content">
          <div class="confirmation">Are you sure to delete {{menu.name}} ?</div>
            <div class="buttons">
                <a [routerLink]="['/africanamericanbestfood/admin/details/',menu._id]">
                  <button mat-raised-button >No</button>
                </a>
                <button 
                type="submit"
                color="warn"
                (click)="deleteMenuItem(menu._id)"
                mat-raised-button [disabled]='sendingRequest? true: false' >
                <span *ngIf="!sendingRequest">Yes</span>
                <div class="loading-container" *ngIf="sendingRequest">
                  <div class="loader"></div>
                </div>
            </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
