.container{
    margin: 3em auto 0px auto;
}
.menu{
    position: relative;
}
.image{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.image img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.description{
    margin-top: 20px;
    overflow: hidden;
}
.description .content{
    overflow: hidden;
}
.action{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 255, 0.3);
    bottom: 0px;
    display: flex;
    color: rgb(226, 10, 10);
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.confirmation{
    line-height: 40px;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.buttons{
 width: 200px;
 display: flex;
 justify-content: space-between;
 margin: auto;
}
.details{
    width: 100%;
}
.menu-price{
    float: left;
}

mat-raised-button{
    padding: 5px;
}
.loading-container{
    margin: auto;
    text-align: center;
    line-height:40px;
}

.loader {
    border:3px solid #ffffff; /* Light grey */
    border-top:13px solid #e615d4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 400ms linear infinite;
}

.mat-raised-button[disabled],
.mat-raised-button:disabled{
    background-color: #3f51b5;
    color: #ffffff;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width:400px){
    .container .menu{
        width: 350px;
        margin: auto;
    }
}

@media only screen and (min-width:768px){
    .container .menu{
        width: 80%;
    }
    .card-body{
        display: flex;
    }
    .image{
        width: 50%;
    }
    .description{
        flex: 1;
        margin-top: 0px;
        padding-left: 10px;
    }
}

app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}