<div class="spinner" *ngIf="homepageIsLoading || aboutpageIsLoading">
  <spinner></spinner>
</div>
<div class="setting-container" *ngIf="!homepageIsLoading && !aboutpageIsLoading">
  <h1 class="header-tag">General Setting</h1>
  <div class="content">
    <div class="page home">
      <h2>Home setting</h2>
      <div class="host">
        <div class="container-fluid">
          <div class="jumbotron jumbotron-fluid">
            <div class="bubble-container">
              <ul class="bubbles">
                <li></li><li></li><li></li>
                <li></li><li></li><li></li>
                <li></li><li></li><li></li>
                <li></li><li></li><li></li>
              </ul>
            </div>
            <div class="container">
              <div class="info">
                <h1>{{homePageData.header}}</h1>
                <h3><q>{{homePageData.quote}}</q></h3>
                <a 
                [routerLink]="['/africanamericanbestfood/menu']">
                View Menu
              </a>
            </div>
            <div class="info desktop">
              <img [src]="homePageData.image | base64Converter" alt={{homePageData.name}}>
            </div>
          </div>
        </div>
      </div>
      
      <div class="update home-update-button">
        <mat-icon (click)="displayHomeUpdatePanel()">open_in_new</mat-icon> 
      </div>
    </div>
  </div>
  
  <div class="page about">
    <h2>About setting</h2>
    
    <div class="containers-fluid">
      <div class="header">
        <div class="image">
          <img [src]="aboutPageData.topLeft | base64Converter" alt={{aboutPageData.topLeft.name}}>
        </div>
        <div class="content">
          <div class="blur">
            <div class="cover-content">
              <h1>About us</h1>
              <p>{{aboutPageData?.header}}</p>
              <p><q>{{aboutPageData?.quote}}</q></p>
              <div>
                <address>410 Lenox Avenue<br>New York, NY 10037</address>
                <address>Phone: {{ aboutPageData?.phone | formatPhoneNumber }}</address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="image">
          <div class="content">
            <div class="cover">
              <div class="cover-content"></div>
            </div>
            <div class="image-content">
              <img [src]="aboutPageData.bottomLeft | base64Converter" alt={{aboutPageData.bottomLeft.name}}>
            </div>
          </div>
        </div>
        <div class="image">
          <div class="content">
            <div class="cover">
              <div class="cover-content"></div>
            </div>
            <div class="image-content">
              <img [src]="aboutPageData.bottomCenter | base64Converter" alt={{aboutPageData.bottomCenter.name}}>
            </div>
          </div>
        </div>
        <div class="image">
          <div class="content">
            <div class="cover">
              <div class="cover-content"></div>
            </div>
            <div class="image-content">
              <img [src]="aboutPageData.bottomRight | base64Converter" alt={{aboutPageData.bottomRight.name}}>
            </div>
          </div>
        </div>
      </div> 
    </div>
    
    <div class="update home-update-button">
      <mat-icon (click)="displayAboutUpdatePanel()">open_in_new</mat-icon> 
    </div>
  </div>
</div>

<div class="update-content-container home-update-panel" #homeUpdatePanel>
  <div class="update-panel">
    <div class="panel home-page-panel" #homePagePanel>
      <div class="panel-content">
        <div class="form">
          <div class="close" (click)="closeAHomeUpdatePanel()"> <mat-icon>close</mat-icon></div>
          <h1>Update Home Page</h1> 
          <form  (ngSubmit)="updateHomePage()" [formGroup]="HomepageForm" name="HomepageForm" novalidate>
            <div class="update-personal-info-container error">
              <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
            </div>
            <div class="info-container">
              <mat-form-field>
                <input 
                type="text"
                name="homeHeader"
                matInput 
                formControlName="homeHeader"
                placeholder="Header">
                <mat-error *ngIf="homeHeader.invalid && (homeHeader.dirty || homeHeader.touched)">
                  <span  *ngIf="homeHeader.errors.required">Header is required</span>
                  <span  *ngIf="homeHeader.errors.minlength || homeHeader?.errors.maxlength">Expects between 10 and 50 characters</span>
                </mat-error>
                <!-- <mat-error class="server-error" *ngFor="let error of serverErrors">
                  <span *ngIf="error.param=='currentPassword' ">{{error.msg}}</span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="info-container">
              <mat-form-field>
                <input 
                type="text"
                name="homeQuote"
                matInput 
                formControlName="homeQuote"
                placeholder="Quote" >
                <mat-error *ngIf="homeQuote.invalid && (homeQuote.dirty || homeQuote.touched)">
                  <span  *ngIf="homeQuote.errors.required">Quote is required</span>
                  <span  *ngIf="homeQuote.errors.minlength || homeQuote?.errors.maxlength">Expects between 10 and 50 characters</span>
                </mat-error>
                <!-- <mat-error class="server-error" *ngFor="let error of serverErrors">
                  <span *ngIf="error.param=='newPassword' ">{{error.msg}}</span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="info-container file-input">
              <input 
              type="file"
              name="homeImage"
              placeholder="Quote"
              #file
              accept=".png, .jpg, .jpeg"
              (change)="onUploadHomeImage($event)">
              <button class="hompage-update-button" (click)="file.click()">Choose image</button>
            </div>
            
            <button id="homepageUpdateButton"
            mat-raised-button [disabled]='sendingUpdateHomepageRequest? true: false' >
            <span *ngIf="!sendingUpdateHomepageRequest">Save</span>
            <div class="loading-container" *ngIf="sendingUpdateHomepageRequest">
              <div>Updating . . .</div> <div class="loader"></div>
            </div>
          </button>
        </form>
      </div> 
      <div class="preview">
        <div class="close" (click)="closeAHomeUpdatePanel()"> <mat-icon>close</mat-icon></div>
        <div class="content">
          <h1>Preview</h1>
          <div class="container">
            <div class="inner-container">
              <div class="info">
                <h1>{{HomepageForm.value.homeHeader}}</h1>
                <h3><q>{{HomepageForm.value.homeQuote}}</q></h3>
                <a 
                [routerLink]="['/africanamericanbestfood/menu']">
                View Menu
              </a>
            </div>
            <div class="info desktop">
              <img [src]="!previewHomeImageSourceUrl? (homePageData.image | base64Converter) : '' " [alt]="!previewHomeImageSourceUrl? (homeImagePic?.name) : ''">
              <img [src]="previewHomeImageSourceUrl? previewHomeImageSourceUrl: '' " [alt]="previewHomeImageSourceUrl? (homeImagePic?.name | truncateFileName) : ''">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="update-content-container about-update-panel" #aboutUpdatePanel>
  <div class="update-panel">
    <div class="panel about-page-panel" #aboutPagePanel>
      <div class="panel-content">
        <div class="form">
          <h1>Update About Page</h1> 
          <form (ngSubmit)="updateAboutPage()" [formGroup]="aboutpageForm" name="aboutpageForm"  novalidate>
            <div class="update-personal-info-container error">
              <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
            </div>
            <div class="info-container">
              <mat-form-field>
                <input 
                type="text"
                name="aboutHeader"
                matInput 
                formControlName="aboutHeader"
                placeholder="Header">
                <mat-error *ngIf="aboutHeader.invalid && (aboutHeader.dirty || aboutHeader.touched)">
                  <span  *ngIf="aboutHeader.errors.required">Header is required</span>
                  <span  *ngIf="aboutHeader.errors.minlength || aboutHeader?.errors.maxlength">Expects between 10 and 50 characters</span>
                </mat-error>
                <!-- <mat-error class="server-error" *ngFor="let error of serverErrors">
                  <span *ngIf="error.param=='currentPassword' ">{{error.msg}}</span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="info-container">
              <mat-form-field>
                <input 
                type="text"
                name="aboutQuote"
                matInput 
                formControlName="aboutQuote"
                placeholder="Quote" >
                <mat-error *ngIf="aboutQuote.invalid && (aboutQuote.dirty || aboutQuote.touched)">
                  <span  *ngIf="aboutQuote.errors.required">Quote is required</span>
                  <span  *ngIf="aboutQuote.errors.minlength || aboutQuote?.errors.maxlength">Expects between 10 and 50 characters</span>
                </mat-error>
                <!-- <mat-error class="server-error" *ngFor="let error of serverErrors">
                  <span *ngIf="error.param=='newPassword' ">{{error.msg}}</span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="info-container">
              <mat-form-field>
                <input 
                type="text"
                name="aboutPhone"
                matInput 
                formControlName="aboutPhone"
                placeholder="Phone" >
                <mat-error *ngIf="aboutPhone.invalid && (aboutPhone.dirty || aboutPhone.touched)">
                  <span  *ngIf="aboutPhone.errors.required">Phone number is required</span>
                  <span  *ngIf="aboutPhone.errors.pattern">Valid phone number required (eg: (212)555-5555)</span>
                </mat-error>
                <!-- <mat-error class="server-error" *ngFor="let error of serverErrors">
                  <span *ngIf="error.param=='newPassword' ">{{error.msg}}</span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="info-container file-input">
              <input 
              type="file"
              #topLeft
              accept=".png, .jpg, .jpeg"
              (change)="onUploadTopLeftImage($event)">
              <button class="hompage-update-button" (click)="topLeft.click()">Top Reft Image</button>
            </div>
            
            <!-- <div class="info-container file-input">
              <input 
              type="file"
              placeholder="Quote"
              #topRight>
              <button style="background: rgb(96, 125, 139);" class="hompage-update-button" (click)="topRight.click()">Top Right Image</button>
            </div> -->
            
            <div class="info-container file-input">
              <input 
              type="file"
              name="image"
              placeholder="Quote"
              #bottomLeft
              accept=".png, .jpg, .jpeg"
              (change)="onUploadBottomLeftImage($event)">
              <button style="background: rgb(121, 85, 72);" class="hompage-update-button" (click)="bottomLeft.click()">Bottom Left Image</button>
            </div>
            
            <div class="info-container file-input">
              <input 
              type="file"
              name="image"
              placeholder="Quote"
              #bottomCenter
              accept=".png, .jpg, .jpeg"
              (change)="onUploadBottomCenteredImage($event)">
              <button style=" background: rgb(255, 87, 34);" class="hompage-update-button" (click)="bottomCenter.click()">Bottom Center Image</button>
            </div>
            
            <div class="info-container file-input">
              <input 
              type="file"
              name="image"
              placeholder="Quote"
              #bottomRight
              accept=".png, .jpg, .jpeg"
              (change)="onUploadBottomRightImage($event)">
              <button style="background: rgb(158, 158, 158);" class="hompage-update-button" (click)="bottomRight.click()">Bottom Right Image</button>
            </div>
            
            
            <button id="aboutpageUpdateButton"
            mat-raised-button [disabled]='sendingUpdateAboutpageRequest? true: false' >
            <span *ngIf="!sendingUpdateAboutpageRequest">Save</span>
            <div class="loading-container" *ngIf="sendingUpdateAboutpageRequest">
              <div>Updating . . .</div> <div class="loader"></div>
            </div>
          </button>
        </form>
      </div> 
      <div class="preview">
        <div class="close" (click)="closeAboutUpdatePanel()"> <mat-icon>close</mat-icon></div>
        <div class="content">
          <h1>Preview</h1>
          
          <div class="about-update-container-fluid">
            <div class="header">
              <div class="image">
                <!-- <div class="cover"></div> -->
                <img [src]="!previewAboutTopLeftSourceUrl? (aboutPageData.topLeft | base64Converter) : '' " [alt]="!previewAboutTopLeftSourceUrl? (aboutTopLeftImagePic?.name) : ''">
                <img [src]="previewAboutTopLeftSourceUrl? previewAboutTopLeftSourceUrl: '' " [alt]="previewAboutTopLeftSourceUrl? (aboutTopLeftImagePic?.name | truncateFileName) : ''">
              </div>
              <div class="content">
                <div class="blur">
                  <div class="cover-content">
                    <h1>About us</h1>
                    <p>{{aboutpageForm.value.aboutHeader}}</p>
                    <p><q>{{aboutpageForm.value.aboutQuote}}</q></p>
                    <div>
                      <address>410 Lenox Avenue<br>New York, NY 10037</address>
                      <address>Phone: {{aboutpageForm.value.aboutPhone}}</address>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <div class="image">
                <div class="content">
                  <div class="cover">
                    <div class="cover-content"></div>
                  </div>
                  <div class="image-content">
                    <img [src]="!previewAboutBottomLeftSourceUrl? (aboutPageData.bottomLeft | base64Converter) : '' " [alt]="!previewAboutBottomLeftSourceUrl? (aboutBottomLeftImagePic?.name) : ''">
                    <img [src]="previewAboutBottomLeftSourceUrl? previewAboutBottomLeftSourceUrl: '' " [alt]="previewAboutBottomLeftSourceUrl? (aboutBottomLeftImagePic?.name | truncateFileName) : ''">
                  </div>
                </div>
              </div>
              <div class="image">
                <div class="content">
                  <div class="cover">
                    <div class="cover-content"></div>
                  </div>
                  <div class="image-content">
                    <img [src]="!previewAboutBottomCenteredSourceUrl? (aboutPageData.bottomCenter | base64Converter) : '' " [alt]="!previewAboutBottomCenteredSourceUrl? (aboutBottomCenteredImagePic?.name) : ''">
                    <img [src]="previewAboutBottomCenteredSourceUrl? previewAboutBottomCenteredSourceUrl: '' " [alt]="previewAboutBottomCenteredSourceUrl? (aboutBottomCenteredImagePic?.name | truncateFileName) : ''">
                  </div>
                </div>
              </div>
              <div class="image">
                <div class="content">
                  <div class="cover">
                    <div class="cover-content"></div>
                  </div>
                  <div class="image-content">
                    <img [src]="!previewAboutBottomRightSourceUrl? (aboutPageData.bottomRight | base64Converter) : '' " [alt]="!previewAboutBottomRightSourceUrl? (aboutBottomRightImagePic?.name) : ''">
                    <img [src]="previewAboutBottomRightSourceUrl? previewAboutBottomRightSourceUrl: '' " [alt]="previewAboutBottomRightSourceUrl? (aboutBottomRightImagePic?.name | truncateFileName) : ''">
                  </div>
                </div>
              </div>
            </div> 
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<app-footer></app-footer>