
body {
    background-color:black;
    z-index:0;
    overflow-y:hidden;
    overflow-x:hidden;
}
.spinner{
    width: 100%;
    min-height: 500px;
}
.setting-container{
    width: 100%;
    overflow: hidden;
    padding:0px;
    position: relative;
    z-index: 0;
}

.header-tag{
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom:2em;
}
.page{
    overflow: hidden;
    padding: 0px 10px 20px 10px;
    border-top: 1px solid #cccccc;
}

.page:last-of-type{
    border-bottom: none;
}
.page h2{
    padding-left: 1em;
    font-size: .9em;
    font-weight: bold;
    margin-top: 2em;
}
.host{
    position: relative;
    z-index: 0;
}
.home .container-fluid{
    margin-top: 1em;
    position: relative;
    
}
.home .host .bubble-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.home .host .jumbotron{
    background-color: #14bc25;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    border-radius: 0px;
    font-size: 1em;
}
.home .host .jumbotron .container{
    display: flex;
}
.home .host .desktop{
    display: none;
}
.home .host .desktop{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.home .host .desktop img{
    margin-top: 1.5em;
    width: 200px;
    height: 100px;
}
.home .host .info{
    width: 100%;
    padding: 1em;
    position: relative;
}
.home .host h1{
    font-size: 1em;
    font-weight: bolder;
    margin:2em 0em 1em 0em;
}
.home .host h3{
    font-size: 1em;
    font-weight: bolder;
    margin-bottom:4em;
}
.home .host a{
    display: block;
    position: absolute;
    width: 150px;
    background-color: rgb(236, 46, 12);
    color: #ffffff;
    padding:5px;
    cursor: pointer;
    left: 0px;
    right: 0px;
    margin:3em auto 0px auto;
    z-index: 10;
    bottom:20px;
    text-decoration: none;
    outline: none;
    border:2px 2px 2px solid rgb(185, 35, 8);
}
.home .host a:hover{
    background-color: rgb(245, 88, 60);
    transition: 500ms ease-in-out;
}
.home .host a:active{
    border: none;
    transition: 500ms ease-in-out;
}
.home .host .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.home .host .bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.home .host .bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}
.home .host .bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.home .host .bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.home .host.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.home .host .bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.home .host .bubbles li:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration:8s;
    animation-duration: 8s;
}




@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@-moz-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

@-o-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

.update{
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    color: #444444;
}
.update:hover{
    color: #000000;
}

// about page

.containers-fluid{
    width: 100%;
    padding: 2px;
    position: relative;
    z-index: -100;
    
}
.header{
    width: 100%;
    height:250px;
    display: flex;
}
.header .image{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1em 0em 1em 0em;
    position: relative;
    background-color: #000000;
}
.header .content{
    display: none;
}
.header .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,255,0,.5);
}
.header .image img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50)
}
.body{
    display: flex;
    height: 200px;
}
.body .image{
    width: 33.33%;
    padding:5px;
    position: relative;
}
.body .image .content{
    width: 100%;
    height: 100%;
}
.body .image .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}
.body .image .cover .cover-content{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
.body .image .image-content{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.body .image .image-content img{
    width: 100%;
    height: 100%;
}


// update content css
.update-content-container{
    position: absolute;
    width: 100%;
    height: 101%;
    top:-10px;
    left: 0px;
    bottom:0px;
    right: 0px;
    z-index: 0;
}
.update-panel{
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.85);
    position: relative;
    z-index:0;
}
.panel{
    position: absolute;
    width: 100%;
    padding: 20px;
    min-height: 450px;
    z-index:0;
}
.panel .panel-content{
    width: 100%;
    padding:5px;
    background-color: #ffffff;
}
.panel .panel-content h1{
    font-size: 1em;
    text-align: center;
    margin-top: 1.5em;
}
.panel .form{
    padding: 10px;
    overflow: hidden;
}
.panel .info-container{
    margin-bottom: 20px;
}
.panel mat-form-field{
    width: 100%;
}

.file-input{
    width: 100%;
    height: 32px;
    position: relative;
    margin-bottom:3.5em;
}

.file-input button{
    position: absolute;
    width: 100%;
    line-height: 30px;
    color: #ffffff; 
    bottom: 0px;
    left: 0px;
    padding: 0px;
    z-index: 1;
    background-color:rgb(245, 9, 225);
}
.file-input input[type=file]{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    
}


// loader 

.loading-container{
    margin: auto;
    text-align: center;
    line-height:40px;
}
.loading-container div:first-child{
    width:60%;
    float: left;
    margin-right: 20px;
}

.loader {
    border:3px solid #ffffff; /* Light grey */
    border-top:13px solid #e615d4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 400ms linear infinite;
}

.mat-raised-button[disabled],
.mat-raised-button:disabled{
    background-color: #3f51b5;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.error{
    position: relative;
    padding:5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 2em;
}
.error-message{
    position: absolute;
    left: 0px;
    right: 0px;
    color: red;
    margin: auto;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
// end loader 

.panel .mat-raised-button{
    float: right;
}
.panel .info-container .hompage-update-button:hover{
    background-color:rgb(248, 58, 232);
    outline: none;
}
.home-update-panel{
    display:none;
}
.home-page-panel{
    animation: homeSlideRight 1s linear forwards;
    display: none;
    
}
.about-update-panel{
    display: none;
}

.about-page-panel{
    animation: aboutSlideLeft 1s linear forwards;
    display: none;
}
.form .close,
.preview .close{
    color: rgb(247, 7, 7);
    text-align: right;
    cursor: pointer;
}
.form .close:hover,
.preview .close:hover{
    color: #f52a45;
}
.preview .close{
    display:none;
}


.preview{
    border-top:1px solid #cccccc;
    padding-top: 5px;
}
.preview .content .container{
    background-color: #14bc25;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding:10px;
    border-radius: 0px;
    font-size: 1em;
}
.inner-container{
    display: flex;
}
// .preview .content .container .info:first-of-type{
    //     flex: 1;
    // }
    
    .about-update-panel .preview{
        display: none;
    }
    .inner-container h1{
        font-size: 1em;
        font-weight: bolder;
        margin:2em 0em 1em 0em;
    }
    .inner-container h3{
        font-size: 1em;
        font-weight: bolder;
        margin-bottom:4em;
    }
    .inner-container a{
        display: block;
        position: absolute;
        width: 150px;
        background-color: rgb(236, 46, 12);
        color: #ffffff;
        padding:5px;
        cursor: pointer;
        left: 0px;
        right: 0px;
        margin:3em auto 0px auto;
        z-index: 10;
        bottom:10px;
        text-decoration: none;
        outline: none;
        border:2px 2px 2px solid rgb(185, 35, 8);
    }
    .inner-container a:hover{
        background-color: rgb(245, 88, 60);
        transition: 500ms ease-in-out;
    }
    .inner-container a:active{
        border: none;
        transition: 500ms ease-in-out;
    }
    
    .inner-container .info:first-of-type{
        flex:1;
        position: relative;
    }
    .inner-container .desktop{
        width: 150px;
        max-height: 150px;
    }
    .inner-container .desktop img{
        width: 100%;
        height: 100%;
    }
    
    
    @-webkit-keyframes homeSlideRight{
        0%{ top:0px; left:-100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
        
    }
    @-o-keyframes homeSlideRight{
        0%{ top:0px; left:-100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
        
    }
    @-moz-keyframes homeSlideRight{
        0%{ top:0px; left:-100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
        
    }
    @keyframes homeSlideRight{
        0%{ top:0px; left:-100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
        
    }
    
    @-webkit-keyframes homeSlideLeft{
        0%{ top:25px; left:100%; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    @-moz-keyframes homeSlideLeft{
        0%{ top:25px; left:100%; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    @-o-keyframes homeSlideLeft{
        0%{ top:25px; left:100%; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    @keyframes homeSlideLeft{
        0%{ top:25px; left:100%; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    
    @-webkit-keyframes aboutSlideLeft{
        0%{ top:0px; left:100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
    }
    
    @-o-keyframes aboutSlideLeft{
        0%{ top:0px; left:100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
    }
    
    @-moz-keyframes aboutSlideLeft{
        0%{ top:0px; left:100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
    }
    @keyframes aboutSlideLeft{
        0%{ top:0px; left:100%; right: 0px; margin: auto;}
        100%{ top:0px; left:0px; right: 0px; margin: auto;}
    }
    
    @-webkit-keyframes aboutSlideTop{
        0%{ top:100%; left:0px; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    
    @-o-keyframes aboutSlideTop{
        0%{ top:100%; left:0px; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    
    @-moz-keyframes aboutSlideTop{
        0%{ top:100%; left:0px; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    
    @keyframes aboutSlideTop{
        0%{ top:100%; left:0px; right: 0px; margin: auto;}
        100%{ top:25px; left:0px; right: 0px; margin: auto;}
    }
    
    @media only screen and (min-width:500px){
        .panel{
            width: 400px;
        }
    }
    
    app-footer{
        position: relative;
    }
    
    @media only screen and (min-width:768px){
        .home .host .info{
            width: 50%;
        }
        .home .host .desktop{
            display: block;
        }
        .header{
            margin-bottom: 1.4em;
        }
        .about-update-container-fluid .header{
            font-size: .7em;
        }
        
        .header .content{
            display: block;
            flex: 1;
            border-top: 1em solid #000000;
            border-bottom: 1em solid #000000;
            padding-left: 10px;
            background-color: #ffffff;
            color: #000000;
            font-weight: bolder;
            text-align: center;
            position: relative;
            padding-left: 10px;
        }
        .header .blur{
            position: absolute;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            left: 0px;
        }
        .header .blur .cover-content h1{
            font-size: 1em;
            width: 100px;
            border-bottom: 2px solid #ffffff;
            margin: .5em auto 1em auto;
        }
        .header .blur .cover-content p{
            font-size: 1em;
        }
        address:first-child{
            text-align:left;
            padding-left: 10px;
            float: left;
        }
        address:last-child{
            text-align: right;
            padding-right: 10px;
        }
        
        .header .image{
            width: 50%;
            margin: 0px;
        }
    }
    
    @media only screen and (min-width:878px){
        .header .blur .cover-content h1{
            font-size: 1.3em;
        }
        .header .blur .cover-content p{
            font-size: 1.4em;
        }
        
        .panel{
            width: auto;
            top: 100px;
        }
        .panel .form{
            margin-top: 5px;
            border-right: 2px solid #444444;
        }
        .panel .panel-content{
            border-bottom:0px;
        }
        .panel .preview .content{
            padding: 10px 30px 10px 30px;
        }
        .home-page-panel{
            animation: homeSlideLeft 1s linear forwards;
        }
        .about-update-panel .preview{
            display: block;
        }
        .about-page-panel{
            animation: aboutSlideTop 1s linear forwards;
        }
        .panel-content{
            display: flex;
        }
        .panel-content .form{
            width: 400px;
            margin-right: 20px;
        }
        .panel-content .preview{
            flex: 1;
            border-top: none;
        }
        .form .close{
            display: none;
        }
        .preview .close{
            display: block;
        }
    }