body{
    width: 100%;
    height: 100%;
}
.containers-fluid{
    width: 100%;
    padding: 2px;
    position: relative;
    z-index: -100;
    
}
.header{
    width: 100%;
    height:250px;
    display: flex;
}
.header .image{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1em 0em 1em 0em;
    position: relative;
    background-color: #000000;
}
.header .content{
    display: none;
}
.header .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,255,0,.5);
}
.header .image img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50)
}
.body{
    display: flex;
    height: 200px;
}
.body .image{
    width: 33.33%;
    padding:5px;
    position: relative;
}
.body .image .content{
    width: 100%;
    height: 100%;
}
.body .image .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}
.body .image .cover .cover-content{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
.body .image .image-content{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.body .image .image-content img{
    width: 100%;
    height: 100%;
}
app-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


@media only screen and (min-width:768px){
    .header{
        margin-bottom: 1.4em;
    }
    .header .content{
        display: block;
        flex: 1;
        border-top: 1em solid #000000;
        border-bottom: 1em solid #000000;
        padding-left: 10px;
        background-color: #ffffff;
        color: #000000;
        font-weight: bolder;
        text-align: center;
        position: relative;
        padding-left: 10px;
    }
    .header .blur{
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        left: 0px;
    }
    .header .blur .cover-content h1{
        font-size: 1em;
        width: 100px;
        border-bottom: 2px solid #ffffff;
        margin: .5em auto 1em auto;
    }
    .header .blur .cover-content p{
        font-size: 1em;
    }
    address:first-child{
        text-align:left;
        padding-left: 10px;
        float: left;
    }
    address:last-child{
        text-align: right;
        padding-right: 10px;
    }

    .header .image{
        width: 50%;
        margin: 0px;
    }
}

@media only screen and (min-width:878px){
    .header .blur .cover-content h1{
        font-size: 1.3em;
    }
    .header .blur .cover-content p{
        font-size: 1.4em;
    }
}