<div class="containers-fluid" *ngIf="!dataRetrieved">
  <div class="header">
    <div class="image">
      <!-- <div class="cover"></div> -->
      <img src="/assets/images/restaurant.jpg" alt="">
    </div>
    <div class="content">
      <div class="blur">
        <div class="cover-content">
          <h1>About us</h1>
          <p>We are African American Best Food</p>
          <p><q>We serve the food that sticks to your soul</q></p>
          <div>
              <address>410 Lenox Avenue<br>New York, NY 10037</address>
              <address>Phone: (212)690-8052</address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img src="/assets/images/frontpage.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img src="/assets/images/bestfood.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img src="/assets/images/menu.jpg" alt="">
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- loaded -->

<div class="containers-fluid" *ngIf="dataRetrieved">
  <div class="header">
    <div class="image">
      <!-- <div class="cover"></div> -->
      <img [src]="aboutPageData?.topLeft | base64Converter" alt={{aboutPageData?.topLeft.name}}>
    </div>
    <div class="content">
      <div class="blur">
        <div class="cover-content">
          <h1>About us</h1>
          <p>{{aboutPageData?.header}}</p>
          <p><q>{{aboutPageData?.quote}}</q></p>
          <div>
              <address>410 Lenox Avenue<br>New York, NY 10037</address>
              <address>Phone: {{ aboutPageData?.phone | formatPhoneNumber }}</address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img [src]="aboutPageData?.bottomLeft | base64Converter" alt={{aboutPageData?.bottomLeft.name}}>
        </div>
      </div>
    </div>
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img [src]="aboutPageData?.bottomCenter | base64Converter" alt={{aboutPageData?.bottomCenter.name}}>
        </div>
      </div>
    </div>
    <div class="image">
      <div class="content">
        <div class="cover">
          <div class="cover-content"></div>
        </div>
        <div class="image-content">
          <img [src]="aboutPageData?.bottomRight | base64Converter" alt={{aboutPageData?.bottomRight.name}}>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- end loaded -->

<app-footer></app-footer>