<div id="host">
  <div class="container">
    <h1>New Menu</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="addMenuForm" name="addMenuForm" novalidate>
      <div class="add-menu-error error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <div class="add-menu-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Name"
          formControlName="name">
          <mat-error *ngIf="(name.dirty || name.touched) && name.invalid">
            <span  *ngIf="name.errors.required">Name is required</span>
            <span  *ngIf="name.errors.minlength || name.errors.maxlength">Expects between 2 and 50 characters</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='name' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="add-menu-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Price"
          formControlName="price">
          <mat-error *ngIf="(price.dirty || price.touched) && price.invalid">
            <span  *ngIf="price.errors.required">Name is required</span>
            <span  *ngIf="price.errors.pattern">Please enter a valid price (example: 10.99)</span>
          </mat-error>
           <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='price' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="add-menu-container">
        <mat-form-field>
          <mat-select 
          placeholder="Category"
          formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.displayName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="(category.dirty || category.touched) && category.invalid">
          <span  *ngIf="category.errors.required">Category is required</span>
        </mat-error>
         <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='category' ">{{error.msg}}</span>
          </mat-error>
      </mat-form-field>
    </div>
    <div class="add-menu-container">
      <mat-form-field>
        <textarea 
        matInput 
        placeholder="Description"
        formControlName="description"></textarea>
        <mat-error *ngIf="(description.dirty || description.touched) && description.invalid">
          <span  *ngIf="description.errors.required">Description is required</span>
          <span  *ngIf="description.errors.minlength || description.errors.maxlength">Expects between 10 and 500 characters</span>
        </mat-error>
         <mat-error class="server-error" *ngFor="let error of serverErrors">
              <span *ngIf="error.param=='description'">{{error.msg}}</span>
          </mat-error>
      </mat-form-field>
    </div>
    <div class="add-menu--container fileinput">
      <div class="picture-name" *ngIf="picture">You have selected:<span>{{picture.name | truncateFileName}}</span><span class="preview" *ngIf="picture"><mat-icon (click)="previewImage()">image</mat-icon></span></div>
      <div class="picture-name" *ngIf="!picture"><span>No file selected</span></div>
      <div class="content">
        <div class="button" (click)="imgFileInput.click()">
          Click to upload pictures <i class="material-icons">&#xe2c3;</i>
        </div> 
        <input  
        hidden 
        type="file" 
        name="image"
        #imgFileInput
        required
        accept=".png, .jpg, .jpeg"
        (change)="onUploadImage($event)"/>
        <mat-error>
          <span  *ngIf="invalidFileInput">Picture is required</span>
        </mat-error>
      </div>
    </div>
    <button 
    class="submitButton" 
    type="submit" 
    mat-raised-button [disabled]='sendingRequest? true: false' >
    <span *ngIf="!sendingRequest">Add Menu</span>
    <div class="loading-container" *ngIf="sendingRequest">
      <div >Adding Menu . . .</div> <div class="loader"></div>
    </div>
  </button>
</form>
</div>

<div id="previewImage" #imagePreview>
  <div class="header">
    <h4 *ngIf="picture">{{picture.name | truncateFileName}}</h4>
    <span>
      <mat-icon (click)="closePreview()">close</mat-icon>
    </span>
  </div>
  <div class="imagePreview" *ngIf="previewSourceUrl">
    <div class="inner-container">
      <img [src]="previewSourceUrl" [alt]="picture? (picture.name | truncateFileName) : ''">
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
