#host{
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
}
.container{
    width: 100%;
    margin:1.5em auto 80px auto;
}
#previewImage{
    width:100%;
    background-color: #f0f0f0;
    position: absolute;
    display: none;
    top: 4em;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    animation: animate 1s linear forwards 0s 1;
}

@-moz-keyframes animate{
    0%{ left: 0px; width: 0px; height: 0px; }
    25%{ left: 0px; right: 0px; margin: auto; width: 100%;}
    50%{ left: 0px; right: 0px; margin: auto; display: block;}
    100%{ left: 0px; right: 0px; margin: auto; display: block; min-height: 430px;}
}
@-webkit-keyframes animate{
        0%{ left: 0px; width: 0px; height: 0px; }
        25%{ left: 0px; right: 0px; margin: auto; width: 100%;}
        50%{ left: 0px; right: 0px; margin: auto; display: block;}
        100%{ left: 0px; right: 0px; margin: auto; display: block; min-height: 430px;}
}
@keyframes animate{
    0%{ left: 0px; width: 0px; height: 0px; }
    25%{ left: 0px; right: 0px; margin: auto; width: 100%;}
    50%{ left: 0px; right: 0px; margin: auto; display: block;}
    100%{ left: 0px; right: 0px; margin: auto; display: block; min-height: 430px;}
}

#previewImage .header h4,
#previewImage .header span{
    display: inline-block;
}
#previewImage span{
    float: right;
    font-weight: bold;
    padding-right: 5px;
    color: rgb(230, 11, 11);
    cursor: pointer;
}
#previewImage .header{
    background-color: #013487;
    overflow: hidden;
    padding:3px 1px 0px 1px;
    margin-bottom: 20px;
}
#previewImage .header h4{
    clear: right;
    padding-left: 10px;
    color: #ffffff;
    font-size: .9em;
}

#previewImage span:hover{
    color: rgb(245, 42, 42);
}
.imagePreview{
    width: 100%;
    padding: 5px;
    height: 200%;
   position: relative;
}
.imagePreview .inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.imagePreview img{
    height: auto; 
    width:auto; 
    max-width: 100%; 
    max-height: 200px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.container h1{
    font-size: 1rem;
    text-align: center;
    margin-bottom:1em;
}

form, .add-menu--container, mat-form-field, input{
    width: 100%;
}
.add-menu-container{
    margin-bottom: 15px;
}
a{
    float: left;
    margin-top: 2em;
    text-decoration: none;
}
button{
    float: right;
    margin-top: 2em;
}

.fileinput{
    width: 100%;
    position: relative;
    margin-top: 40px;
}
.fileinput .picture-name{
    position: absolute;
    color: #000000;
    font-size: 90%;
    top: -25px;
    display: flex;
}
.fileinput .picture-name span{
    color: #6930ec;
    margin-left: 3px;
    display: block;
}
.fileinput .picture-name span mat-icon{
    color: #303F9F;
}
.fileinput .picture-name .preview{
    float: right;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 10px;
}
.add-menu--container mat-error span{
    top:33px;
    left:2px;
    font-size:77%;
    position: absolute;
}
.fileinput .content{
    width: 100%;
    text-align: center;
    padding:0px 0px 2px 0px;
    color: #ffffff;
    background-color: #f442d7;
    cursor: pointer;
}
.fileinput div i{
    color: #ffffff;
    font-size: 1em;
    padding-top: 5px;
}

.loading-container{
    margin: auto;
    text-align: center;
    line-height:40px;
}
.loading-container div:first-child{
    width:70%;
    float: left;
    margin-right: 20px;
}

.loader {
    border:3px solid #ffffff; /* Light grey */
    border-top:13px solid #e615d4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 400ms linear infinite;
}

.mat-raised-button[disabled],
.mat-raised-button:disabled{
    background-color: #3f51b5;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.error{
    position: relative;
    padding:5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 2em;
}
.error-message{
    position: absolute;
    left: 0px;
    right: 0px;
    color: red;
    margin: auto;
}

@-moz-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

app-footer{
    width: 100%;
    line-height: 50px;
}

@media only screen and (min-width:400px){
    .container{
        width: 350px;
    }
    #previewImage{
        width: 400px;
        margin: auto;
    }
}