<div id="host">
  
  <loading-screen *ngIf="isLoading"></loading-screen>
  <div *ngIf="!isLoading">
    <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngFor="let myUser of users">
        <mat-expansion-panel-header expandedHeight="120px">
          <mat-panel-title>
            {{myUser.email}}
          </mat-panel-title>
          <mat-panel-description>
            {{myUser.userRole}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="actions" *ngIf="myUser.userRole != 'Owner'">
          <button mat-raised-button disabled="{{myUser.active? 'true':'false'}}" (click)="activateUser(myUser._id)" >Activate</button>
          <button mat-raised-button color="warn" disabled="{{myUser.active? 'false':'true'}}" (click)="deactivateUser(myUser._id)">Deactivate</button>
          <button mat-raised-button color="warn" (click)="confirmDeletion($event)">Remove</button>
        </div>
      <ng-container 
      *ngTemplateOutlet="actions; context:{user:myUser}">
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
</div>
</div>

<ng-template #actions let-user='user'>
  <div class="confirm-user-deletion" *ngIf="user.userRole != 'Owner'">
    <div class="confirm-user-deletion-wrapper">
        <div class="confirm-content" >
            <div class="confirm-header">
              Are you sure to delete user?
              <p>{{user.email}}</p>
            </div>
            <div class="confirm-body">
              <button mat-flat-button  color="primary" (click)="cancelUserDeletion($event)">No</button>
              <button mat-flat-button color="warn" (click)="deleteUser(user._id)">Yes</button>
            </div>
          </div>
    </div>
  </div>
</ng-template>