
#host{
    position: relative;
}
mat-accordion{
    z-index: 0;
}
.mat-accordion .mat-expansion-panel{
    border-radius: 0px;
    margin-bottom: 10px;
}
.mat-accordion .mat-expansion-panel button{
    float: right;
}
mat-panel-description {
    justify-content: flex-end;
    font-weight: bold;
    padding-right: 20px;
}
mat-expansion-panel{
    position: relative;
}
mat-expansion-panel button{
    font-size: .8em;
    min-width: 80px;
    line-height:20px;
    margin-left: 4px;
    padding: 1px;
}
mat-expansion-panel button:last-child{
    padding: 0px 10px;
}
mat-expansion-panel button:first-of-type{
    color: #ffffff;
    background-color: rgb(28, 189, 28);
}

mat-expansion-panel button[disabled]{
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
}

.confirm-user-deletion{
    position: absolute;
    width: 100%;
    height:100%;
    padding: 5px;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: rgba(0,0,0,.75);
    display: none;
}
.confirm-user-deletion-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.confirm-user-deletion .confirm-content{
    width: 300px;
    padding:5px 10px;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    animation: moveLeftToRight 500ms linear forwards;
}
.confirm-user-deletion .confirm-content .confirm-header{
    line-height: 30px;
}
.confirm-header p{
    font-weight: bold;
}
.confirm-user-deletion .confirm-content .confirm-body{
    display: flex;
    justify-content: space-between;
}

.show{
    display: block;
}
.hide{
    display: none;
}


@-webkit-keyframes moveLeftToRight{
    0%{
        top: 20px;
        left: -100%;
        right: 0px;
        margin: auto; 
        opacity: 0;
    }
    100%{
        top: 20px;
        left: 0px;
        right: 0px;
        opacity: 1;
        margin: auto;
    }
}

@-moz-keyframes moveLeftToRight{
    0%{
        top: 20px;
        left: -100%;
        right: 0px;
        margin: auto; 
        opacity: 0;
    }
    100%{
        top: 20px;
        left: 0px;
        right: 0px;
        opacity: 1;
        margin: auto;
    }
}

@-o-keyframes moveLeftToRight{
    0%{
        top: 20px;
        left: -100%;
        right: 0px;
        margin: auto; 
        opacity: 0;
    }
    100%{
        top: 20px;
        left: 0px;
        right: 0px;
        opacity: 1;
        margin: auto;
    }
}
@keyframes moveLeftToRight{
    0%{
        top: 20px;
        left: -100%;
        right: 0px;
        margin: auto; 
        opacity: 0;
    }
    100%{
        top: 20px;
        left: 0px;
        right: 0px;
        opacity: 1;
        margin: auto;
    }
}

