body{
background-color: #c9c9c9;
}
.container{
    width: 100%;
    height: 100%;
    margin-top: 4em;
    padding: 10px;
}
.content{
    width: 100%;
    color: #919191;
    text-align: center;
}

app-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
@media only screen and (min-width:500px){
    .content{
        width: 400px;
        margin: auto;
    }
}
