.container{
    margin: 3em auto 0px auto;
}
.image{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.image img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.description{
    margin-top: 20px;
    overflow: hidden;
}
.description .content{
    overflow: hidden;
}
.action{
    display: flex;
    width: 200px;
    margin:1em auto;
    justify-content: space-between;
}
.details{
    width: 100%;
}
.menu-price{
    float: left;
}
.details .right{
    display: block;
    float: right;
}
@media only screen and (min-width:400px){
    .container .menu{
        width: 350px;
        margin: auto;
    }
}

@media only screen and (min-width:768px){
    .container .menu{
        width: 80%;
    }
    .card-body{
        display: flex;
    }
    .image{
        width: 50%;
    }
    .description{
        flex: 1;
        margin-top: 0px;
        padding-left: 10px;
    }
}

app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}