<div class="container">
    <loading-screen *ngIf="isLoading"></loading-screen>
    <div class="parent-layer" *ngIf="!isLoading">
      <div class="menu">
        <div class="card">
          <div class="card-header">
            <span class="menu-name">
              {{menu.category }}   {{menu.name}}
            </span>
          </div>
          <div class="main">
            <div class="card-body">
              <div class="image">
                <img [src]="menu? (menu.image | base64Converter ) : '' " [alt]="menu? menu.name : ''">
              </div>
              <div class="description">
                <div class="content">
                  {{menu.description}}
                </div>
              </div>
            </div>
            <div class="action">
              <a mat-button  color="primary" [routerLink]="['/africanamericanbestfood/admin/update/',menu._id]">Update</a>
              <a mat-button color="warn" [routerLink]="['/africanamericanbestfood/admin/remove/',menu._id]">Delete</a>
            </div>
          </div>
          <div class="card-footer">
            <div class="details">
              <div class="menu-price left">
                Price: {{menu.price}}
              </div>
              <div class="right">
                <a [routerLink]="['/africanamericanbestfood/admin/show-menu/']">
                  Back<span>&larr;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>