main{
    width: 100%;
    margin:4em auto 2em auto;
    padding: 0px 15px;
}

@media only screen and (min-width:400px){
    main{
        width: 350px;
        padding: 0px;
    }
}

app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}