*{
    width: 100%;
    z-index: 0;
}
.host{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 10px;
}
.content{
    width: 100%;
    padding:2em 1em 1em 1em;
}

h1{
    text-align: center;
    font-size: 1rem;
}
.contact-container{
    margin-top: 1.5em;
}

button{
    margin-top: 1rem;
}
.signup-container div{
    text-align: center;
}

.loading-container{
    width: 150px;
    margin: auto;
    text-align: center;
    line-height:40px;
}
.loading-container div:first-child{
    width:50%;
    float: left;
}

.loader {
    border:3px solid #f3f3f3; /* Light grey */
    border-top:13px solid #f009dc; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 500ms linear infinite;
}

.mat-raised-button[disabled],
.mat-raised-button:disabled{
    background-color: #3f51b5;
    color: #ffffff;
    float: right;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.contact-us-confirmation-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top:0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    padding-top: 1em;
    display: none;
}
.contact-us-confirmation-container .wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}
.contact-us-confirmation-content{
    width: 100%;
    padding: 1em 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    animation: moveLeft 1s linear forwards;
}
.contact-us-confirmation-content h1{
    text-align: left;
    font-size:1.3em;
    font-weight: bolder;
    margin: 1em 0px;
    text-align: center;
}
.contact-us-confirmation-content p{
    font-size:1.4em;
}

.contact-us-confirmation-content p:last-child{
    font-weight: bold;
}
h3{
    font-size: 1.1em;
    text-align: left;
    font-weight: bolder;
}
address{
    text-align: left;
    color: rgb(62, 62, 212);
    font-weight: bolder;
}

@-webkit-keyframes moveLeft{
    0%{
        right: -100%;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}

@-moz-keyframes moveLeft{
    0%{
        right: -100%;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}

@-o-keyframes moveLeft{
    0%{
        right: -100%;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}

@keyframes moveLeft{
    0%{
        right: -100%;
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}

@media only screen and (min-width:500px){
    .content{
        width: 400px;
        margin: auto;
    }
    .contact-us-confirmation-content{
        width: 500px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    app-footer{
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
    }
    
}

@media only screen and (min-width:768px){
    .contact-us-confirmation-content{
        width: 70%;
       
    }
}



