<div class="host">
  <div class="content">
    <h1>Contact us</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" name="contactForm" novalidate>
      <div class="contact-container error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <div class="contact-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Full name"
          formControlName="fullname">
          <mat-error *ngIf="(fullname.dirty || fullname.touched) && fullname.invalid">
            <span  *ngIf="fullname.errors.required">Full name is required</span>
            <span  *ngIf="fullname.errors.pattern">Please enter First name space Last name (eg: John Doe)</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='fullname' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Email"
          formControlName="email">
          <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">
            <span  *ngIf="email.errors.required">Email is required</span>
            <span  *ngIf="email.errors.pattern">Invalid email format</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='email' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Subject"
          formControlName="subject">
          <mat-error *ngIf="(subject.dirty || subject.touched) && subject.invalid">
            <span  *ngIf="subject.errors.required">Subject is required</span>
            <span  *ngIf="subject.errors.minlength || subject?.errors.maxlength">Expects between 2 and 20 characters</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='subject' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contact-container">
        <mat-form-field>
          <textarea 
          matInput 
          placeholder="Message"
          formControlName="message"></textarea>
          <mat-error *ngIf="(message.dirty || message.touched) && message.invalid">
            <span  *ngIf="message.errors.required">Message is required</span>
            <span  *ngIf="message.errors.minlength || description?.errors.maxlength">Expects between 50 and 500 characters</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='message' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
        <button 
        mat-raised-button 
        color="primary" [disabled]='sendingMessageStatus? true: false'>
        <span *ngIf="!sendingMessageStatus">Sign Up</span>
        <div class="loading-container" *ngIf="sendingMessageStatus">
          <div >Sending . . .</div> <div class="loader"></div>
        </div>
      </button>
    </div>
  </form>
</div>


<div class="contact-us-confirmation-container" #confirmation>
  <div class="wrapper">
    <div class="contact-us-confirmation-content">
      <h1>Thank you for contacting us!</h1>
      <p>Your feedback and concerns are important to us.
        Our team will be working with you shortly.</p>
        <p>Best regards,</p>
        <h3>African American Best Food</h3>
        <address>410 Lenox Avenue<br>New York, NY 10037 <br>Phone: (212)690-8052</address>
        
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>