<nav>
  <div class="navigation">
    <div class="left">
      <a mat-list-item 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/africanamericanbestfood']">
      <mat-icon>home
      </mat-icon>
      <span>Home</span>
    </a>
    <a mat-list-item 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" 
    [routerLink]="['/africanamericanbestfood/menu']">
    <mat-icon>view_comfy
    </mat-icon>
    <span>Menu</span>
  </a>
</div>
<div class="mobile-brand">
  <div class="logo"><img src="/assets/images/icons/logo.png" alt="logo"></div>
</div>
<section class="search desktop">
  <div class="search-container">
    <div class="wrapper">
      <input type="text" placeholder="Search" (input)="search($event.target.value)">
      <span>
        <mat-icon>search</mat-icon>
      </span>
    </div>
    <div class="search-result-container">
      <div class="result-wrapper">
        <div class="result-list">
            <ng-container 
            *ngTemplateOutlet="searchResults">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="right">
  <a mat-list-item routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"  
  [routerLink]="['/africanamericanbestfood/contact']">
  <mat-icon>email
  </mat-icon>
  <span>Contact</span>
</a>
<a  mat-list-item routerLinkActive="active"
[routerLinkActiveOptions]="{exact: true}" #rla="routerLinkActive"
[routerLink]="['/africanamericanbestfood/about']">
<mat-icon>info
</mat-icon>
<span>About</span>
</a>    
</div>
</div>
<section class="search mobile">
  <div class="search-container">
    <div class="wrapper">
      <input type="text" placeholder="Search" (input)="search($event.target.value)">
      <span>
        <mat-icon>search</mat-icon>
      </span>
    </div>
    <div class="search-result-container">
      <div class="result-wrapper">
        <div class="result-list">
          <ng-container 
          *ngTemplateOutlet="searchResults">
        </ng-container>
      </div>
    </div>
  </div>
</div>
</section>
</nav>

<ng-template #searchResults>
  <div class="results" *ngFor="let result of results">
    <a [routerLink]="['/africanamericanbestfood/details/',result._id]">
      <div class="image">
        <img [src]="result.image | base64Converter" alt={{result.name}}>
      </div>
      <p class="result-title">
        {{result.name}}
      </p>
    </a>
  </div>
</ng-template>