nav{
  // background-color:#2196F3;
  background-color: #FF1744;
  padding-bottom: 5px;
  position: relative;
  z-index: 999999999999999;
}

nav .navigation{
  display: flex;
  padding:0px 0px 2px 0px;
}
nav .navigation section{
  display: none;
}
nav .navigation .left, nav .navigation .right{
  width: 80px;
  display: flex;
}
nav .navigation a{
  width: 40px;
  line-height:40px;
  padding-top: 5px;
  position: relative;
  display: block;
  text-align: center;
}

nav .navigation a mat-icon{
  color: #1B5E20;
}
nav .navigation a span{
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  font-size: .5em;
  // color:#BA68C8;
  color:#1B5E20;
}

nav .navigation a.active mat-icon,
nav .navigation a.active span{
  color: #ffffff;
}

nav .navigation .mobile-brand{
  flex: 1;
}

nav .navigation .mobile-brand .logo{
  width: 200px;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  padding-left: 5px;
}
nav .navigation .mobile-brand .logo img{
  width: 100%;
  height: 100%;
}
nav section .search-container{
  position: relative;
}
nav section .search-container .wrapper{
  padding: 20px 20px 5px 20px;
  display: flex;
  
}
nav section .search-container .wrapper span{
  display: flex;
  width: 20px;
  padding-top: px;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px;
  cursor: pointer;
}

nav section .search-container input{
  flex:1;
  border: 0px;
  padding-left: 5px;
  border-radius: 0px;
  background-color: #ffffff;
  outline: none;
}
.search-result-container{
  position:absolute;
  padding:0px 20px;
  width: 100%;
  overflow: hidden;
}

.search-container .result-wrapper{
  width: 100%;
  position: relative;
}
.search-container .result-wrapper .result-list{
  width: 100%;
  min-height:0px;
  display: none;
  background-color: #ffffff;
  z-index: 999999999;
  padding: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid #858383;
}
.search-container:focus-within .result-wrapper .result-list{
  display: block;
  min-height: 52px;
  transition: 2s;
}
.search-container .result-wrapper .result-list .results a{
  width: 100%;
  background-color: #f7f4f4;
  overflow: hidden;
  display: block;
  padding:2px;
  border-bottom: 1px solid #e9e5e5;
}
.search-container .result-wrapper .result-list .results a:hover{
  background-color: #ffffff;
}
.search-container .result-wrapper .result-list .results a .image,
.search-container .result-wrapper .result-list .results a .result-title{
  float: left;
}
.search-container .result-wrapper .result-list .results a .image{
  width: 50px;
  height: 50px;
}

.search-container .result-wrapper .result-list .results a .image img{
  width: 100%;
  height: 100%;
}
.search-container .result-wrapper .result-list .results a .result-title{
 text-align: left;
 line-height: 20px;
 padding-left: 10px;
 color: #000000;
 
}
.search-container .result-wrapper .result-list .results a .result-title p{
  padding: 0px;
}

@media only screen and (min-width:768px){
  nav{
    border-top: 5px solid #008B00;
    //border-bottom: 5px solid#1976D2;
    padding-bottom: 10px;
  }
  nav .navigation .mobile-brand{
    max-width: 200px;
    order: 1;
  }
  nav .navigation .left{
    order: 2;
    margin-left: 10px;
  }
  nav .navigation a mat-icon{
    font-size: 1.2em;
  }
  nav .mobile{
    display: none;
  }
  nav .navigation section.desktop{
    display: block;
    margin-top: -5px;
    order: 3;
    flex: 1;  
  }
  
  nav .navigation section.desktop .search-container{
    width: 400px;
    margin: auto;
  }
  
  nav .navigation .left a, 
  nav .navigation .right a{
    width: 50px;
    font-size:1.2em;
    text-align: center;
  }
  nav .navigation a span{
    top: 20px;
    left: 5px;
  }
  nav .navigation .right{
    order: 3;
    justify-content: flex-end;
    margin-right: 10px;
  }
}

@media only screen and (min-width:900px){
  nav .navigation section.desktop .search-container{
    width: 500px;
  }
}