<div class="footer-container">
  <div class="brand">
    &copy;  A.A. Best Food <span>NYC | 2018</span>
  </div>
  <div class="followus">
    <div class="icon">
      <a href="https://wwwfacebook.com">
        <img src="/assets/images/icons/facebook.png" alt="facebook">
      </a>
    </div>
    <div class="icon">
      <a href="https://wwwfacebook.com">
        <img src="/assets/images/icons/twitter.png" alt="twitter">
      </a>
    </div>
    <div class="icon">
      <a href="https://wwwfacebook.com">
        <img src="/assets/images/icons/instagram.png" alt="instagram">
      </a>
    </div>
  </div>
</div>