<h1>Sign Up</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="signupForm" name="signupForm" novalidate>
    <div class="signup-container error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
    <div class="signup-container">
        <mat-form-field>
            <input 
            matInput 
            placeholder="Enter your email"
            formControlName="email">
            <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">
                <span  *ngIf="email.errors.required">Email is required</span>
                <span  *ngIf="email.errors.pattern">Invalid email format</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
                <span *ngIf="error.param=='email' && error.msg !='email already exists' ">{{error.msg}}</span>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="signup-container">
        <mat-form-field>
            <input 




            type="password"
            name="password"
            matInput 
            placeholder="Enter your password" 
            formControlName="password">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <span  *ngIf="password.errors.required">Password is required</span>
                <span  *ngIf="password.errors.minlength || password?.errors.maxlength">Expects between 8 and 20 characters</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
                <span *ngIf="error.param=='password'">{{error.msg}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="signup-container">
        <mat-form-field>
            <input 
            type="password"
            name="confirmPassword"
            matInput 
            confirmPasswordsMatchValidator="password"
            placeholder="Confirm your password" 
            formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span  *ngIf="confirmPassword.errors.required">Confirm is required</span>
                <span  *ngIf="confirmPassword.errors?.mismatch && !confirmPassword.errors.required">Passwords don't match</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
                <span *ngIf="error.param=='confirmPassword'">{{error.msg}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <button 
    type="submit"
    color="primary" 
    mat-raised-button [disabled]='sendingRequest? true: false' >
    <span *ngIf="!sendingRequest">Sign in</span>
    <div class="loading-container" *ngIf="sendingRequest">
      <div>Signing up . . .</div> <div class="loader"></div>
    </div>
</button>
</form>
<div class="signup-container">
    <div>Already a member? <a [routerLink]="['/africanamericanbestfood/admin/auth/signin']">Sign In</a></div>
</div>