.host{
    z-index: 0;
    position: relative;
}
.top-header{
    font-size: 1.2em;
    background-color: #FF1744;
    padding: 20px 20px 0px 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.top-header h1, .top-header .sort{
    display: inline;
    font-size: .8em;
}
.top-header .sort span{
    margin-right: 10px;
}
.top-header h1{
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.top-header .sort{
    float: right;
}

.menu-list{
    min-width:300px;
    margin: 0px auto;
    overflow: hidden;
    min-height: 550px;
    z-index: 0;
}
.empty-list{
    line-height: 200px;
    margin-top:2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}
.food-card{
    width:100%;
    padding: 5px;
}
.food-card .card-content{
    padding: 5px 10px;
    border-radius: 0px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.food-card .card-content .header{
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.food-card .card-content .body{
    width: 100%;
    height: 200px;
}
.food-card  .card-content .footer{
    text-align: center;
    color: rgb(5, 148, 5);
    padding-top: 10px;
}
.food-card .card-content .body img{
    width: 100%;
    height: 100%;
}

.food-card .card-content .details{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:-2px;
}
.food-card .card-content .details a{
    height: 0px;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 2em;
    background-color: rgba(255, 0, 0, .45);
    // background-color: rgba(0.5, 0, 0, .5);
    color: #ffffff;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 200ms ease-in-out; /** Firefox **/
    -o-transition: all 200ms ease-in-out; /** Opera **/
}
.food-card .card-content .details a div{
    display: none;
}
.food-card .card-content:hover .details a div{
    display: block;
}
.food-card .card-content:hover .details a{
    height: 100px;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 200ms ease-in-out; /** Firefox **/
    -o-transition: all 200ms ease-in-out; /** Opera **/
}

app-footer{
    width: 100%;
    clear: both;
}

@media only screen and (min-width:400px){
    .menu-list{
        width: 100%;
        padding: 5px 15px;
    }
    .food-card{
        width: 50%;
        display: inline-block;
    }
}

@media only screen and (min-width:600px){
    .food-card{
        width: 33.33%;
    }
}

@media only screen and (min-width:768px){
    .food-card{
        width:25%;
    }
}

@media only screen and (min-width:900px){
    .food-card{
        width:20%;
    }
}

@media only screen and (min-width:1200px){
    .menu-list{
        width:1200px;
    }
}