<div class="host">
    <div class="top-header">
        <h1>Specials</h1>
        <div class="sort">
          <span>Find category</span>
          <select (change)="findCategory($event.target.value)">
            <option *ngFor="let category of categories" [value]="category.name">{{category.displayName}}</option>
          </select>
        </div>
      </div>
      <div class="menu-list">
        <loading-screen *ngIf="isLoading"></loading-screen>
        <div class="content" *ngIf="!isLoading">
          <div class="empty-list" *ngIf="foodList?.length == 0">
          <div class="alert alert-danger">Sorry :(  No menu found</div>
          </div>
          <div class="food-card" *ngFor="let food of foodList">
            <div class="card-content">
              <div class="header">
                {{food.name}}
              </div>
              <div class="body">
                <img [src]="food.image | base64Converter" alt={{food.name}}>
              </div>
              <div class="footer">
                {{food.price}}
              </div>
              <div class="details">
                <a [routerLink]="['/africanamericanbestfood/details/',food._id]">
                  <div class="more-details">
                    <span>More details</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>