.home .host .jumbotron{
    background-color: #14bc25;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    border-radius: 0px;
    font-size: 1em;
}
.home .host .jumbotron .container{
    display: flex;
}
.home .host .desktop{
    display: none;
}
.home .host .desktop{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.home .host .desktop img{
    margin-top: 1.5em;
    width: 200px;
    height: 100px;
}
.home .host .info{
    width: 100%;
    padding: 1em;
    position: relative;
}
.home .host h1{
    font-size: 1em;
    font-weight: bolder;
    margin:2em 0em 1em 0em;
}
.home .host h3{
    font-size: 1em;
    font-weight: bolder;
    margin-bottom:4em;
}
.home .host a{
    display: block;
    position: absolute;
    width: 150px;
    background-color: rgb(236, 46, 12);
    color: #ffffff;
    padding:5px;
    cursor: pointer;
    left: 0px;
    right: 0px;
    margin:3em auto 0px auto;
    z-index: 10;
    bottom:20px;
    text-decoration: none;
    outline: none;
    border:2px 2px 2px solid rgb(185, 35, 8);
}
.home .host a:hover{
    background-color: rgb(245, 88, 60);
    transition: 500ms ease-in-out;
}
.home .host a:active{
    border: none;
    transition: 500ms ease-in-out;
}


.home .host .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.home .host .bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    -webkit-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.home .host .bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}
.home .host .bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.home .host .bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.home .host.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.home .host .bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.home .host .bubbles li:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration:8s;
    animation-duration: 8s;
}