<div class="container">
  <h1>Add New User</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" name="userForm" novalidate>
    <div class="create-user-container error">
      <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
    <div class="add-user">
      <mat-form-field>
        <input 
        matInput 
        placeholder="Enter user's email"  
        formControlName="email">
        <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">
          <span  *ngIf="email.errors.required">Email is required</span>
          <span  *ngIf="email.errors.pattern">Invalid email format</span>
        </mat-error>
        <mat-error class="server-error" *ngFor="let error of serverErrors">
          <span *ngIf="error.param=='email' && error.msg !='email already exists' ">{{error.msg}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="add-user">
      <mat-form-field>
        <mat-select 
        placeholder="Chose a role"
        formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.name">
          {{role.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="(role.dirty || role.touched) && role.invalid">
        <span  *ngIf="role.errors.required">Role is required</span>
      </mat-error>
      <mat-error class="server-error" *ngFor="let error of serverErrors">
        <span *ngIf="error.param=='role' ">{{error.msg}}</span>
      </mat-error>
    </mat-form-field>
  </div>
  <button 
  type="submit" 
  mat-raised-button 
  color="primary" [disabled]='sendingRequest? true: false'>
  <span *ngIf="!sendingRequest">Add Menu</span>
  <div class="loading-container" *ngIf="sendingRequest">
    <div >Adding new user . . .</div> <div class="loader"></div>
  </div>
</button>
</form>
</div>