.container{
    width: 300px;
    margin: auto;
}
.container mat-form-field{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 1rem;
}
.add-user{
    margin-top: 1.5em;
}
button{
    margin-top: 1rem;
    float: right;
}
.add-user{
    text-align: center;
}
.loading-container{
    margin: auto;
    text-align: center;
    line-height:40px;
    display: flex;
}
.loading-container div:first-child{
    width:70%;
    float: left;
    margin-right: 20px;
}

.loader {
    border:3px solid #ffffff; /* Light grey */
    border-top:13px solid #e615d4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 400ms linear infinite;
}

.mat-raised-button[disabled],
.mat-raised-button:disabled{
    background-color: #3f51b5;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@-moz-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error{
    position: relative;
    padding:5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 2.5em;
}
.error-message{
    position: absolute;
    left: 0px;
    right: 0px;
    color: red;
    font-size: .9em;
    margin: auto;
}