<h1>Sign In</h1>
<form  (ngSubmit)="onSubmit()" [formGroup]="signinForm" name="signinForm" novalidate>
    <div class="signin-container error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
    <div class="signin-container">
        <mat-form-field>
            <input 
            matInput 
            placeholder="Enter your email"
            formControlName="email">
            <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">
                <span  *ngIf="email.errors.required">Email is required</span>
                <span  *ngIf="email.errors.pattern">Invalid email format</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
                <span *ngIf="error.param=='email'">{{error.msg}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="signin-container">
        <mat-form-field>
            <input 
            type="password"
            name="password"
            matInput 
            placeholder="Enter your password" 
            formControlName="password">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <span  *ngIf="password.errors.required">Password is required</span>
            </mat-error>
            <mat-error class="server-error" *ngFor="let error of serverErrors">
                <span *ngIf="error.param=='password' && !password.dirty ">{{error.msg}}</span>
            </mat-error>
        </mat-form-field>
    </div>
    <button 
    type="submit" 
    color="primary"
    mat-raised-button [disabled]='sendingRequest? true: false' >
    <span *ngIf="!sendingRequest">Sign in</span>
    <div class="loading-container" *ngIf="sendingRequest">
      <div>Authenticating . . .</div> <div class="loader"></div>
    </div>
</button>
</form>
<div class="signin-container">
    <div>Forgot your password? <a [routerLink]="['/africanamericanbestfood/admin/forgot-password']">Retrieve</a></div>
    <div>Not a member? <a [routerLink]="['/africanamericanbestfood/admin/auth/signup']">Sign Up</a></div>
</div>
