<div class="container-fluid mt-3" style="height:200px;">
  <div class="jumbotron jumbotron-fluid" color="accent">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>