.container-fluid{
    height:50%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.jumbotron{
    background-color: rgb(178, 144, 189);
}
app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}