.top-header{
    font-size: 1.2em;
    // background-color:#2196F3;
    background-color: #1f4b93;
    padding: 20px 20px 0px 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.top-header h1, .top-header .sort{
    display: inline;
    font-size: .8em;
}
.top-header .sort span{
    margin-right: 10px;
}
.top-header h1{
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.top-header .sort{
    float: right;
}

.menu-list{
    min-width:300px;
    margin: 0px auto;
    overflow: hidden;
    min-height: 500px;
    background-color: #F5F5F5;
}
.empty-list{
    line-height: 200px;
    margin-top:2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}
.food-card{
    width:100%;
    padding:5px 10px;
    margin:5px auto;
}
.food-card .card-content{
    border-radius: 0px;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    position: relative;
}
.action-outterlayer{
    position: absolute;
    width:100%;
    height:0px;
    background-color: rgba(0,0,0,.7);
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 200ms ease-in-out; /** Firefox **/
    -o-transition: all 200ms ease-in-out; /** Opera **/
}
.card-content:hover .action-outterlayer{
    display: flex;
    justify-content: center;
    height:100%;
    align-items: center;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 200ms ease-in-out; /** Firefox **/
    -o-transition: all 200ms ease-in-out; /** Opera **/
}

.action-outterlayer a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.action-outterlayer .details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-outterlayer .details span{
    display: block;
    text-decoration: none;
    color: #ffffff;
    display: none;
}
.card-content:hover .action-outterlayer .details span{
    display: block;
}
.food-card .card-content .details-layer{
    width: 100%;
    height:100%;
    padding: 5px 10px;
}
.food-card .card-content .header{
    text-align: center;
}
.food-card .card-content .body{
    width: 100%;
    height: 200px;
}
.food-card  .card-content .footer{
    text-align: center;
}
.food-card .card-content .body img{
    width: 100%;
    height: 100%;
}

app-footer{
    bottom: 0px;
    left: 0px;
    width: 100%;
}


@media only screen and (min-width:400px){
    .menu-list{
        width: 100%;
        padding: 5px 15px;
    }
    .food-card{
        width: 50%;
        display: inline-block;
    }
}

@media only screen and (min-width:600px){
    .food-card{
        width: 33.33%;
    }
}

@media only screen and (min-width:768px){
    .food-card{
        width:25%;
    }
}

@media only screen and (min-width:900px){
    .food-card{
        width:20%;
    }
}

@media only screen and (min-width:1200px){
    .menu-list{
        width:1200px;
        background-color: transparent;
    }
}