<div class="parent-container">
  <div class="menu-list">
    <spinner *ngIf="isLoading"></spinner>
    <div class="parent-layer" *ngIf="!isLoading">
      <div class="empty-list" *ngIf="foodList?.length == 0">
        <div class="alert alert-danger">Sorry :(  No menu available</div>
      </div>
      <div class="food-card" *ngFor="let food of foodList">
        <div class="card-content">
          <div class="action-outterlayer">
            <a [routerLink]="['/africanamericanbestfood/admin/details/',food._id]">
              <div class="details">
                <span>View details</span>
              </div>
            </a>
          </div>
          <div class="details-layer">
            <div class="header">
              {{food.name}}
            </div>
            <div class="body">
              <img [src]="food.image | base64Converter" alt={{food.name}}>
            </div>
            <div class="footer">
              {{food.price}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>