.host{
    width: 100%;
    height: 100%;
    position: relative;
}
.main{
    width: 100%;
    margin:4em auto;
}

.main h1{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5em;
}

 mat-form-field{
    width: 100%;
}

a{
    float: left;
    margin-top: 2em;
    text-decoration: none;
}
button{
    float: right;
    margin-top: 2em;
}
.loading-container{
    text-align: center;
    display: flex;
    padding-bottom: 9px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
button:disabled {
    background-color: #3f51b5;
    color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.loader {
    border:3px solid #f3f3f3; /* Light grey */
    border-top:3px solid #e408b4; /* Blue */
    border-radius: 100%;
    width: 20px;
    height:20px;
    float: left;
    display: block;
    margin-top: 10px;
    animation: spin 500ms linear infinite;
}

.error{
    position: relative;
    padding:5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 2.5em;
}
.error-message{
    position: absolute;
    left: 0px;
    right: 0px;
    color: red;
    margin: auto;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success-confirmation{
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: #ffffff;
    left: 0px;
    bottom: 0px;
    top: 100px;
    overflow: hidden;
    display: none;
    
}
.success-confirmation .message{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.confirmation-container{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1em 10px;
    font-family: 'Courier New', Courier, monospace;
    animation: fadedin 1s linear forwards;
}
.confirmation-container h1{
    text-align: center;
    font-size:1.3em;
    font-weight: bolder;
    margin: 1em 0px;
    text-align: center;
}
.confirmation-container p{
    font-size:1.2em;
}

.confirmation-container p:last-child{
    font-weight: bold;
}
h3{
    font-size: 1.1em;
    text-align: left;
    font-weight: bolder;
}
address{
    text-align: left;
    color: rgb(62, 62, 212);
    font-weight: bolder;
}

@keyframes fadedin{
    0%{
        left: -100%;
    }
    100%{
        right: 0px;
    }
}
app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}


@media only screen and (min-width:400px){
    .confirmation-container{
        width: 350px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .main{
        width: 350px;
    }
}

@media only screen and (min-width:500px){
    .confirmation-container{
        width: 500px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .confirmation-container p{
        font-size: 1.4em;
    }
}

@media only screen and (min-width:768px){
    .confirmation-container{
        width: 70%;
        left: 0px;
        right: 0px;
        margin: auto;
    }
}


