<div class="host">
  <div class="main">
    <h1>Retrieve your password</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" name="forgotPasswordForm" novalidate>
      <div class="forget-password-container error">
        <span class="server-error error-message" *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <div class="password-container">
        <mat-form-field>
          <input 
          matInput 
          placeholder="Enter your email"  
          formControlName="email">
          <mat-error *ngIf="(email.dirty || email.touched) && email.invalid">
            <span  *ngIf="email.errors.required">Email is required</span>
            <span  *ngIf="email.errors.pattern">Invalid email format</span>
          </mat-error>
          <mat-error class="server-error" *ngFor="let error of serverErrors">
            <span *ngIf="error.param=='email' && error.msg != 'No such an email in our record.' ">{{error.msg}}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <a  mat-raised-button="primary" [routerLink]="['/africanamericanbestfood/admin/auth/signin']">Cancel</a>
      <button 
      mat-raised-button 
      color="primary" [disabled]='successfullRequest? true: false'>
      <span *ngIf="!successfullRequest">Send</span>
      <div class="loading-container" *ngIf="successfullRequest">
        <div class="loader"></div>
      </div>
    </button>
  </form>
</div>

</div>

<div class="success-confirmation" #confirmation>
  <div class="message">
    <div class="confirmation-container">
      <h1>Please check your email.</h1>
      <p>You will receive inside your mailbox a set of instructions on how to reset your password.</p>
      <p>Best regards,</p>
      <h3>African American Best Food</h3>
      <address>410 Lenox Avenue<br>New York, NY 10037 <br>Phone: (212)690-8052</address>
    </div>
  </div>
</div>
<app-footer></app-footer>
