.container{
    margin: 3em auto 0px auto;
    color: #000000;
    z-index: -1000;
}
.menu{
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.header h1{
    background-color: #399b00;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #69fd13;
}
.header span{
    max-width:300px;
    display: block;
    padding: 2px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eb0b0b;
}
.image{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.image img{
    width: auto;
    height: auto;
    max-width: 100%;
    border: 2px solid #8e2204;
}
.description{
    margin-top: 20px;
    overflow: hidden;

}
.description .content{
    word-wrap: break-word;
}
.details{
    width: 100%;
}
.menu-price{
    float: left;
}
.details .right{
    display: block;
    float: right;
}
@media only screen and (min-width:400px){
    .container .menu{
        width: 350px;
        margin: auto;
    }
}

@media only screen and (min-width:768px){
    .container .menu{
        width: 80%;
    }
    .card-body{
        display: flex;
    }
    .image{
        width: 50%;
    }
    .description{
        flex: 1;
        margin-top: 0px;
        padding-left: 10px;
    }
}

app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}