<div class="container">
    <loading-screen *ngIf="isLoading"></loading-screen>
    <div class="parent-layer" *ngIf="!isLoading">
      <div class="menu">
          <div class="header">
            <h1 class="menu-category">
              {{menu.category }}
            </h1>
            <span class="menu-name">{{menu.name}}</span>
          </div>
          <div class="main">
            <div class="card-body">
              <div class="image">
                <img [src]="menu? (menu.image | base64Converter ) : '' " [alt]="menu? menu.name : ''">
              </div>
              <div class="description">
                <div class="content">
                    {{menu.description}}
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="details">
              <div class="menu-price left">
                Price: {{menu.price}}
              </div>
              <div class="right">
                <a [routerLink]="['/africanamericanbestfood/menu']">
                  Back<span>&larr;</span>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>