<main>
  <div class="navigation">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</main>

<app-footer></app-footer>