main{
    padding-top:1.5em;
}

.navigation{
    width: 280px;
    margin:0px auto 1em auto;
    justify-content: center;
}
.navigation nav{
    width: 100%;
}
.navigation nav a{
    text-decoration: none;
}


app-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
}

@media only screen and (min-width:500px){
    .navigation{
        width: 320px;
    }
}

@media only screen and (min-width:768px){
    .content{
        width: 50%;
        padding-top: 1em;
        margin: auto;
    }
}