<div class="footer-container">
  <div class="brand">
    &copy; <img src="/assets/images/icons/footerlogo.png" alt="logo"> <span>NYC | 2018</span>
  </div>
  <div class="followus">
    <div class="icon">
      <a href="https://www.facebook.com/best.foodrestaurant.54?ref=bookmarks">
        <img src="/assets/images/icons/facebook.png" alt="facebook">
      </a>
    </div>
    <div class="icon">
      <a href="https://www.instagram.com/africanamericanbestfood/">
        <img src="/assets/images/icons/instagram.png" alt="instagram">
      </a>
    </div>
  </div>
</div>