.footer-container{
    line-height: 30px;
    padding-left: 20px;
    background-color: #FF1744;
    color: #ffffff;
    overflow: hidden;
    padding: 15px 5px;
}
.footer-container div{
    display: inline-block;
}
.footer-container .brand{
    float: left;
    font-size: .9rem;
}
.footer-container .brand img{
    width: 150px;
    height: 30px;
}
.footer-container .brand span{
    display: block;
    float: right;
    font-size: 1.1em;
    margin-top: 3px;
}
.footer-container .followus{
    float: right;
    display: flex;
}
.footer-container .followus .icon{
    width: 30px;
    display: block;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
}
.footer-container .followus .icon:hover{
    background-color: #cccccc;
}
.footer-container .followus .icon a{
    display: inline-block;
    width: 100%;
    height: 100%;;
    
}
.footer-container .followus .icon a img{
    width: 100%;
    height: 100%;
}
span{
    padding-left: 10px;
}