*{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
}
a{
    display: block;
    padding: 3px 5px;
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #f4f4f4;
}

.current{
    color: #f5128f;
}
.desktop{
    display: none;
}
header{
    width: 100%;
    z-index:999999;
}
nav,.top-nav{
    width: 100%;
}
.top-nav{
    display: block;
    line-height: 40px;
    padding: 5px 10px;
    background-color: #08b0f3;
    border-bottom: 1px solid #0a89bb;;
    overflow: hidden;
    z-index: 9999;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.left,.right,.brand-name{
    display: inline-block;
}
.left{
    float: left;
    margin-top: 2px;
}

.left .mobile li{ 
    display: inline-block;
    padding: 5px 10px;
}
.right{
    float: right;
    margin-top: 2px;
}
.brand-name{
    font-size: 1.2rem;
    margin-right: 20px;
    line-height: 50px;
    color: #f8f40a;
    float: left;
    padding-top: inherit;
}
.mobile-right{
    display:flex;
}

.mobile-right .account-icon{
    margin-top: 5px;
    margin-right:25px;
}
.mobile-setting{
    margin-top: 6px;
    overflow: auto;
}

.mobile-setting mat-icon{
    color: #ffffff;
}

.mobile-setting:hover mat-icon{
    color: #f5128f;
}
.mobile-setting li:hover a{
    color: #f5128f;
}

.mobile-setting  mat-icon{
    font-size:1.8em;
    margin-top:5px;
    cursor: pointer;
}
.mobile-setting  .top{
    width: 150px;
    position: absolute;
    z-index: 999999999999;
    right: 42px;
    display: none;
    transition-duration: 500ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile-setting:hover .top{
    display: block;
    transition-duration: 500ms;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile-setting  .content{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.45);
    background-color: #f4f4f4;
}
.mobile-setting .content a{
    color: #000000;
    display: block;
    padding-left: 20px;
}
.mobile-setting .content .arrow{
    width: 20px;
    position: absolute;
    padding: 10px;
    right:15px;
    top: -11px;
    border-left:1px solid rgba(0, 0, 0, 0.45);
    border-top:1px solid rgba(0, 0, 0, 0.45);
    transform: rotate(45deg);
    background-color: inherit;
}
.mobile-setting .content .logout-button button{
   width: 100%;
   font-size: 1em;
   text-align: left;
   color: #000000;
}
.mobile-setting .content .logout-button button:hover{
    color: #f5128f;
}
.menu-button{
    justify-content:flex-end;
    color: #ffffff;
    padding-top: 10px;
    cursor: pointer;
    line-height: 50px;
}
.menu-button mat-icon{
    font-size:2em;
    margin-top: 3px;
}
.sidenav{
    position: fixed;
    width: 220px;
    top:0px;
    background-color: #08b0f3;
    height: 100%;
    z-index: 9999;
}
.sidebar-header{
    box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.35);
}
.sidebar-header .closeButton{
    text-align: left;
    padding:2px;
    cursor: pointer
}
.sidebar-menu-header{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
    border-bottom: 2px solid #ffffff;
}
.sidebar-header .closeButton mat-icon{
    color:#f8f40a;;
}
.sidebar-header .closeButton:hover mat-icon{
    color: #ffffff;
}
.sidenav-menu-items{
    padding: 20px 0px 0px 20px;
}
.sidenav li:hover a{
    color: #f5128f;
}
.sidenav li a{
    line-height: 40px;
    display: block;
    padding-left: 35px;
    
}
.flash-messages{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -10px;
    font-size: .8rem;
    z-index: 9998;
  }
  .flash-messages flash-messages{
    line-height: 0px;
  }
  

@media only screen and (min-width:768px){
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    .top-nav,.left,.right{
        display: inline-block;
    }
    .top-nav{
        overflow: auto !important; 
    }
    .left ul li{
        display: inline-block;
        padding: 5px 10px;
    }
    .right .setting, .account{
        float: right;
        padding: 5px 10px;
    }
   .right .account{
       display: flex;
   }
   .right .account ul{
       display: flex;
   }
   .right .account ul li{
       padding: 0px 15px;
   }
   .right .account ul li a{
       display: block;
       padding: 5px 10px;
   }
    .right .setting{
        margin-top: 3px;
    }
    
    .right .setting mat-icon{
        font-size:2em;
        margin-top:8px;
        color: #ffffff;
        cursor: pointer;
    }
    .right .setting:hover mat-icon{
        color: #f5128f;
    }
    .right .setting .top{
        width: 150px;
        position: absolute;
        z-index: 9999999;
        right: 5px;
        display: none;
        transition-duration: 500ms;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .right .setting button{
        width: 100%;
        text-align: left;
        color: #000000;
        font-size: 1em;
     }
     .right .setting button:hover{
         color: #f5128f;
     }
    .right .setting:hover .top{
        display: block;
        transition-duration: 500ms;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .setting .content{
        position: relative;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.45);
    }
    .setting .content .arrow{
        width: 20px;
        position: absolute;
        padding: 10px;
        right:10px;
        top: -11px;
        border-left:1px solid rgba(0, 0, 0, 0.45);
        border-top:1px solid rgba(0, 0, 0, 0.45);
        transform: rotate(45deg);
        background-color: inherit;
    }
    .list-items{
        width: 100%;
        position: relative;
        padding: 10px 0px;
    }
    .right .setting ul li{
        line-height: 40px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .right .setting ul li a{
        display: block;
        padding-left: 20px;
        color: #000000;
    }
    .right .setting ul li:hover a{
        color: #f5128f;
    }
    .sidenav{
        left: -200px;
        transition: 200ms ease-in-out;
    }
    
}                             