<header>
  <nav>
    <div class="top-nav">
      <div class="brand-name">A.A. Best Food</div>
      <div class="left">
        <ul class="mobile">
          <li>
            <a mat-list-item
            [routerLinkActive]="'current'"  
            [routerLinkActiveOptions]="{exact: true}" 
            [routerLink]="['/africanamericanbestfood/admin']">
            Home
          </a>
        </li> 
      </ul>
      <ul class="desktop">
        <li>
          <a mat-list-item
          [routerLinkActive]="'current'"  
          [routerLinkActiveOptions]="{exact: true}" 
          [routerLink]="['/africanamericanbestfood/admin']">
          Home
        </a>
      </li> 
      <li *ngIf="isAuthenticated">
        <a mat-list-item 
        [routerLinkActive]="'current'"   
        [routerLinkActiveOptions]="{exact: true}" 
        [routerLink]="['/africanamericanbestfood/admin/show-menu']">
        Menu List
      </a>
    </li> 
    <li *ngIf="isAuthenticated">
      <a mat-list-item [routerLinkActive]="'current'" 
      [routerLinkActiveOptions]="{exact: true}"  
      [routerLink]="['/africanamericanbestfood/admin/add-menu']">
      Add Menu
    </a>
  </li> 
</ul>
</div>
<div class="right">
  <div class="setting desktop" *ngIf="isAuthenticated">
    <mat-icon>
      account_circle
    </mat-icon>
    <div class="top">
      <div class="content">
        <div class="arrow"></div>
        <div class="list-items">
          <ul>
            <li *ngIf="isAuthenticated"> 
              <a mat-list-item [routerLinkActive]="'current'"  
              [routerLinkActiveOptions]="{exact: true}"  
              [routerLink]="['/africanamericanbestfood/admin/profile']">Profile</a>
            </li>
            <li *ngIf="isAuthenticated"> 
              <a mat-list-item [routerLinkActive]="'current'"  
              [routerLinkActiveOptions]="{exact: true}"  
              [routerLink]="['/africanamericanbestfood/admin/setting']">Setting</a>
            </li>
            <li class="logout-button">
                <button mat-button  color="warn" (click)="logout()">Logout</button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="account desktop">
    <ul>
      <li *ngIf="isAuthenticated"> 
        <a mat-list-item [routerLinkActive]="'current'"  
        [routerLinkActiveOptions]="{exact: true}"  
        [routerLink]="['/africanamericanbestfood/admin/create-user']">Accounts</a>
      </li>
      <li  *ngIf="!isAuthenticated"> 
        <a mat-list-item [routerLinkActive]="'current'" 
        [routerLinkActiveOptions]="{exact: true}"  
        [routerLink]="['/africanamericanbestfood/admin/auth/signin']">Sign In</a>
      </li>
      <li *ngIf="!isAuthenticated"> 
        <a mat-list-item [routerLinkActive]="'current'"  
        [routerLinkActiveOptions]="{exact: true}"  
        [routerLink]="['/africanamericanbestfood/admin/auth/signup']">Sign Up</a>
      </li>
    </ul>
  </div>
  <div class="mobile-right">
    <div class="mobile-setting mobile" *ngIf="isAuthenticated">
      <div class="account-icon">
        <mat-icon>
          account_circle
        </mat-icon>
      </div>
      <div class="top">
        <div class="content">
          <div class="arrow"></div>
          <div class="list-items">
            <ul>
              <li *ngIf="isAuthenticated"> 
                <a mat-list-item [routerLinkActive]="'current'"  
                [routerLinkActiveOptions]="{exact: true}"  
                [routerLink]="['/africanamericanbestfood/admin/profile']">Profile</a>
              </li>
              <li *ngIf="isAuthenticated"> 
                <a mat-list-item [routerLinkActive]="'current'"  
                [routerLinkActiveOptions]="{exact: true}"  
                [routerLink]="['/africanamericanbestfood/admin/create-user']">Accounts</a>
              </li>
              <li *ngIf="isAuthenticated"> 
                <a mat-list-item [routerLinkActive]="'current'"  
                [routerLinkActiveOptions]="{exact: true}"  
                [routerLink]="['/africanamericanbestfood/admin/setting']">Setting</a>
              </li>
              <li class="logout-button">
                <button mat-button  color="warn" (click)="logout()">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-button mobile" (click)="openSidebar()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
</div>
</div>
<div class="sidenav mobile" [@animateSideBar]="menuState" #sidebar>
  <div class="sidebar-header">
    <div class="closeButton" (click)="closeSidebar()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="sidebar-menu-header">
      MENU
    </div>
  </div>
  <div class="sidebar-menu-items">
    <ul>
      <li *ngIf="isAuthenticated">
        <a mat-list-item 
        [routerLinkActive]="'current'"   
        [routerLinkActiveOptions]="{exact: true}" 
        [routerLink]="['/africanamericanbestfood/admin/show-menu']">
        Menu List
      </a>
    </li> 
    <li *ngIf="isAuthenticated">
      <a mat-list-item [routerLinkActive]="'current'" 
      [routerLinkActiveOptions]="{exact: true}"  
      [routerLink]="['/africanamericanbestfood/admin/add-menu']">
      Add Menu
    </a>
  </li> 
  <li *ngIf="!isAuthenticated"> 
    <a mat-list-item [routerLinkActive]="'current'"  
    [routerLinkActiveOptions]="{exact: true}"  
    [routerLink]="['/africanamericanbestfood/admin/auth/signin']">Sign In</a>
  </li>
  <li *ngIf="!isAuthenticated"> 
    <a mat-list-item [routerLinkActive]="'current'"  
    [routerLinkActiveOptions]="{exact: true}"  
    [routerLink]="['/africanamericanbestfood/admin/auth/signup']">Sign Up</a>
  </li>
</ul>
</div>
</div>
</nav>
</header>
<div class="flash-messages">
    <flash-messages></flash-messages>
</div>
